aside.sidebar
  div.sidebar-header
    img(src='/icons/logo.svg', alt='Dashboard')
    div.sidebar-header-text
        img(src='/icons/v.01.svg', alt='Dashboard')
  nav
    div.menu-item 
        div.menu-item-content
            img(src='/icons/key-square.svg', alt='Dashboard')
            div.description Dashboard

        div.menu-item-icon
            img(src='/icons/chevron-right.svg', alt='Dashboard')
    div.menu-item 
        div.menu-item-content
            img(src='/icons/3d-square.svg', alt='Dashboard')
            div.description Product

        div.menu-item-icon
            img(src='/icons/chevron-right.svg', alt='Dashboard')
    div.menu-item
        div.menu-item-content
            img(src='/icons/user-square.svg', alt='Dashboard')
            div.description Customers

        div.menu-item-icon
            img(src='/icons/chevron-right.svg', alt='Dashboard')
    div.menu-item 
        div.menu-item-content
            img(src='/icons/wallet-money.svg', alt='Dashboard')
            div.description Income

        div.menu-item-icon
            img(src='/icons/chevron-right.svg', alt='Dashboard')
    div.menu-item 
        div.menu-item-content
            img(src='/icons/discount-shape.svg', alt='Dashboard')
            div.description Promote

        div.menu-item-icon
            img(src='/icons/chevron-right.svg', alt='Dashboard')
    div.menu-item 
        div.menu-item-content
            img(src='/icons/message-question.svg', alt='Dashboard')
            div.description Help

        div.menu-item-icon
            img(src='/icons/chevron-right.svg', alt='Dashboard')
